# WhatsApp Cloud API
WHATSAPP_TOKEN=your_meta_access_token
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id
WHATSAPP_VERIFY_TOKEN=your_webhook_verify_token

# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/whatsapp_rag_db

# Ollama
OLLAMA_MODEL=your_llama_model_name

# Optional if using OpenAI
OPENAI_API_KEY=your_openai_api_key

# Optional if using Gemini
GOOGLE_API_KEY=your_google_api_key